#app{
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* color: #4d4d4d; */
  min-width: 550px;
}
/* 
a.active {
  color: orange;
} */

nav {
  padding-top: 20px;
}

.logoStyle{
  padding: 7px;
}

.noPadding {
  padding: 0;
}

.topOffset{
  margin-top: 60px;
}
/* 
label, p, h1{
  color: #AAAAAA !important;
} */

