#app{
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-width: 550px;
}

table td, th{
  border: 1px solid #5B6E80 !important;
}

table th{
  background-color: #485563;
}

input {
  border-radius: 2px !important;
}

nav {
  padding-top: 20px;
}

.logoStyle{
  padding: 3px;
}

.noPadding {
  padding: 0;
}

.topOffset{
  margin-top: 60px;
}

.refreshToken{
  margin-top: 50px;
  height: 50px;
  text-align: center;
}
